@use '/src/styles/Variables' as var;

.product_card {
    $self: &;

    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var.$background_product_card_preview;
    border-radius: 15px;
    padding: 10px 10px;

    &__preview {
        width: 250px;
        height: 343px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px;
        }
    }

    &__price {
        font-size: 20px;
        font-weight: bold;
        color: var.$color-text-price-product-card;
    }

    &__price,
    &__name {
        font-family: Roboto, system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

.product_card.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}