.header {
    $self: &;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 10px;
    min-height: 50px;
    background: linear-gradient(97.26deg, #ed3cca .49%, #df34d2 14.88%, #d02bd9 29.27%, #bf22e1 43.14%, #ae1ae8 57.02%, #9a10f0 70.89%, #8306f7 84.76%, #7c1af8 99.15%), linear-gradient(#0000000d, #0000000d);

    &__search_bar {
        width: 50%;
        max-width: 1000px;
        height: 35px;
        display: flex;
        justify-content: flex-end;
    }

    &__name_product a {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
    }

    &__action_icons {}

    .header__action_icons {
        display: flex;
        gap: 10px;

        .header__icon {
            width: 35px;

            img {
                width: 35px;
            }

            :hover {
                cursor: pointer;
            }
        }

        .basket-count {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ff0000;
            color: #fff;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            font-size: 12px;
            margin-left: -25px;
            margin-top: 20px;
            z-index: 1;
        }
    }
}