* {
    padding: 0px;
    margin: 0px;
    border: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input:focus,
textarea:focus,
select:focus {
    outline: none !important;
}