.order_details_container {
    min-height: 250px;
    .order_details__info {
        display: flex;
        flex-direction: column;
        gap: 5px;        

        .total_price {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .name_chapter,
            .total_price {
                font-weight: 500;
                font-size: 27px;
            }

            .amount_price {
                font-size: 24px;
            }

            .discount_price {
                color: #00C451;
            }
        }
    }
}