@use '/src/styles/Variables' as var;

$title-height: 38px;

.root_grocery_basket {
    height: 100%;

    .name_chapter {
        min-height: #{$title-height};
    }

    .grocery_basket_horizontal_multiple_containers {
        grid-template-columns: 70% 30%;
        grid-template-rows: 30% 70%;
        height: calc(100% - #{$title-height});

        .grocery_basket_container {
            $self: &;

            grid-column: 1;
            grid-row: span 2;
            height: unset;

            &__name_chapter {
                margin: 0 0 10px 0;
            }

            .grocery_basket_items {
                padding: 0 10px 0 0;
                height: 100%;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;

                .grocery_basket_card:not(:first-child) {
                    margin: 10px 0 0 0;
                }

                .grocery_basket_card {
                    $self: &;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &__info {
                        display: flex;
                        flex-direction: row;
                        width: calc(100% - 401px);

                        .card_preview {
                            width: 96px;
                            height: 128px;
                            border-radius: 10px;
                            background-color: var.$background_image_block;
                            margin: 0 10px 0 0;

                            img {
                                width: 100%;
                                object-fit: contain;
                                border-radius: 10px;
                            }
                        }

                        .card_item_info {
                            display: flex;
                            flex-direction: column;
                            width: calc(100% - 116px);

                            .description {
                                font-size: 12px;
                                color: var.$background_product_card_description;
                            }
                        }
                    }

                    &__actions_quantity {
                        width: 130px;
                    }

                    &__price {
                        color: var.$color-text-price-product-card;
                        font-weight: bold;
                        width: 100px;
                        text-align: center;
                    }
                }

                .shopping_cart_empy {
                    $self: &;

                    display: flex;
                    flex-direction: column;
                    gap: 3px;
                    align-items: center;

                    &__img {
                        width: 70px;
                        height: 70px;

                        img {
                            width: 100%;
                        }
                    }

                    &__main_message_text {
                        font-size: 20px;
                    }

                    &__advice_message_text {
                        color: var.$order_color_advice_message_text;
                    }

                    &__route_root {
                        margin: 20px 0 0 0;
                    }

                    &__main_message_text,
                    &__advice_message_text {
                        font-family: Roboto, system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
                    }
                }
            }
        }

        .result_grocery_basket_container {
            grid-column: 2;
            grid-row: 1;
            min-height: 300px;
            padding: 20px;

            .form_registration_new_order {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;

                .total_price {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    .name_chapter,
                    .total_price {
                        font-weight: 500;
                        font-size: 27px;
                    }

                    .amount_price {
                        font-size: 24px;
                    }
                }

                .registration_new_order {
                    .new_order_controllers {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        margin: 0 0 10px 0;

                        &__field {
                            display: flex;
                            flex-direction: column;
                            gap: 3px;
                        }
                    }
                }
            }
        }
    }
}