$background-body: #F6F6F9;
$background-order: #FFFFFF;
$color-text-price-product-card: #18C652;
$order_color_advice_message_text: #868695;
$background_default_button: #A73AFD;
$color_text_default_button: #FDF7FF;