// Default
$background_default_container: #FFFFFF;
$background_default_button: #007aff;
$background_default_button_hover: #A73AFD;
$color_text_default_button: #FDF7FF;

// Order value
$background-body: #F6F6F9;
$background-order: #FFFFFF;
$color-text-price-product-card: #18C652;
$order_color_advice_message_text: #868695;
$color_text_in_order_id: #0d00ff;
$background_order_card: #EFEFF4;
$background_header_order_card: linear-gradient(#F4F4F4, #e2dfdf);
$color_clue_message:rgba(0, 0, 0, 0.282);
$background_details_order: #eae6e6;

//Product card
$background_product_card_preview: #FFFFFF;
$background_product_card_description: #99A3AE;

// Grocery Basket
$background_image_block: #ECECEC;
$background_input_actions_quantity: #F5F7FA; 
$background_grocery_basket_actions: #F5F7FA;
$background_grocery_basket_actions_hover: #DCE1E6;
$color_text_grocery_basket_actions: #001A34;

// Auth
$background_color_auth_form_model: #ffffffd1;
$color_logo_auth_form_model: #005CFF;

// layout
$color_text_hover:#0d00ff;